<!DOCTYPE html>
<html>
  <head lang="en">
      <meta charset="UTF-8">
      <title>Two Way Data Binding</title>
      <link href="style.css" rel="stylesheet" />
          <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
  </head>
  <body>
  	<div class="box">
  		<li class="box__item--header">
  			<div>Стоимость кода активации</div>
  			<div>Стандартная</div>
  			<div>по Акции*</div>
  		</li>
  		<li class="box__item">
  			<div>3 <span>месяца</span></div>
  			<div>112.5 Р</div>
  			<div>240 Р</div>
  		</li>
  		<li class="box__item">
  			<div>6 <span>месяцев</span></div>
  			<div>112.5 Р</div>
  			<div>240 Р</div>
  		</li>
  		<li class="box__item">
  			<div>13 <span>месяцев</span></div>
  			<div>112.5 Р</div>
  			<div>240 Р</div>
  		</li>
  		<li class="box__item">
  			<div>15 <span>месяцев</span></div>
  			<div>112.5 Р</div>
  			<div>240 Р</div>
  		</li>
  		<li class="box__item">
  			<div>36 <span>месяцев</span></div>
  			<div>112.5 Р</div>
  			<div>240 Р</div>
  		</li>
  		<p>
  		    *- При генерации от 10 и более кодов на 13, 15 или 36 месяцев</br> стоимость для партнера снижается за 1 год
  		</p>
  	</div>
  	<div class="container" ng-app="tabApp">
  <div class="row" ng-controller="TabController">
  	<div class="col-md-2">
  		<ul class="nav nav-pills nav-stacked">
       	<li ng-class="{ active: isSet(1) }">
          	<a href ng-click="setTab(1)">Home</a>
       	</li>
       	<li ng-class="{ active: isSet(2) }">
          	<a href ng-click="setTab(2)">Profile</a>
       	</li>
       	<li ng-class="{ active: isSet(3) }">
          	<a href ng-click="setTab(3)">Messages</a>
       	</li>
     	</ul>

  	</div>
  	<div ng-show="isSet(1)">
         	 <h1>Home page</h1>
          	<p>Welcome to the website!</p>
         	 <p><a class="btn btn-primary btn-lg" 			role="button">Learn more</a></p>
        	</div>
			<div ng-show="isSet(2)">
          <h1>Profile page</h1>
          <p>Profile information</p>
     	</div>
        <div ng-show="isSet(3)">
          <h1>Messages</h1>
          <p> Some messages </p>
     	</div>
  </div>
</div>
<script src="todo.js"></script>
</body>

</html>